<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<div th:replace = "fragments :: header"></div>
<div th:replace = "fragments :: nav"></div>
<body>


    <div class="container">
<form method="post" action="#">
    <div class="form-group">
        <label th:for="name">Task</label>
        <input class="form-control" placeholder="Add a task!" required th:field="${task.name}" />
        <span th:errors="${task.name}" class="error"></span>

        <select class="form-select" name="category" th:required="true">
                    <option selected  value="">Choose a category</option>
                    <option th:each="category : ${categories}"
                            th:text="${category.name}"
                            th:value="${category.id}"></option>
                </select>
<br>
        <div class="form-group">
        <p>
            <label th:for="priority">
                <input type="checkbox" id="priority" name="priority" th:checked="${task.priority}">
<!--                <input type="checkbox" name="priority" th:value="${task.priority}"/>-->
                <span><i class="material-icons">star</i>Priority</span>
            </label>
        </p>
        </div>
<br>
        <button type="submit" class="btn-floating btn-large waves-effect waves-light teal lighten-2"><i class="material-icons">add</i></button>
    </div>



</form>
        <a th:href="@{'/task/list'}">TaDa! List</a>

</div>


<div th:replace= "fragments :: script" ></div>
</body>
</html>


