<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<div th:replace = "fragments :: header"></div>
<div th:replace = "fragments :: nav"></div>
<body>
<div class="container">
<div class="row">
<!--    <div class="col s">-->

        <div class="card teal lighten-3 col-sm-4 mx-2"  th:each="task : ${tasks}" >
            <div class="card-content white-text">
<!--                <form action="#" th:action="@{/task/list/}" th:object="${task}">-->

                <span class="card-title" th:text="${task.name}"></span>

                <p  th:text="${task.category.name}"></p>

<!--                </form>-->

<!--                <button th:type="submit"  class="btn-floating halfway-fab waves-effect waves-light red accent-2"><i class="material-icons">check</i></button>-->
                <a  th:href="@{/task/view/{id}(id=${task.id})}" class="btn-floating halfway-fab waves-effect waves-light red accent-2"><i class="material-icons">edit</i></a>
            </div>
            <div class="card-action">
                <a href="#">This is a link</a>
                <a href="#">This is a link</a>
            </div>
<!--                <input type="hidden" name="taskId" th:value="${task.id}"/>-->



        </div>
    <span th:if="${#lists.isEmpty(tasks)}">
        <p>You don't have any tasks! Add some...</p>
        </span>
    </div>
</div>
<!--</div>-->
<div th:fragment = "script"></div>

</body>
</html>