<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">

<div th:replace = "fragments :: header"></div>
<div th:replace = "fragments :: nav"></div>

<body>
<div class="container">
    <h3>Your Categories</h3>
    <div class="form-group">
        <h5><span th:each="category : ${categories}">

        <a href="#" class="badge rounded-pill bg-warning" th:text="${category.name}"></a>
        </span>
        </h5>
        <br>
        <br>
         <span th:if="${#lists.isEmpty(categories)}">
    <p colspan="5">No categories found. Add some...!</p>
    </span>
        <form method="post" th:action="@{/profile/}" th:object="${category}" >
      <div>
        <label for="name"></label>
        <input id="name" placeholder="Add Category! Ex: Work, School..." required type="text" th:field="*{name}"
               class="form-control"/>
        </div>

    <button type="submit" class="btn-floating btn-large waves-effect waves-light teal lighten-2"><i class="material-icons">add</i></button>
</form>
    </div>


    <a th:href="@{'/task/add'}">Add Task</a>
    <br>
    <a th:href="@{'/task/list'}">TaDa List</a>
</div>

<div th:replace= "fragments :: script" ></div>

</body>
</html>