<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">

<div th:replace = "fragments :: header"></div>
<div th:replace = "fragments :: nav"></div>

<body>
<div class="container">

<form method="post" th:action="@{/profile/}" th:object="${category}" class="col card p-3 mb-5">
    <h3>Your Categories</h3>
    <div class="form-group">
        <h4><span th:each="category : ${categories}">

        <span class="badge rounded-pill bg-warning" th:text="${category.name}">
        </span>
    </span>
        </h4>
        <br>
        <br>
         <span th:if="${#lists.isEmpty(categories)}">
    <p colspan="5">No categories found. Add some...!</p>
</span>
      <div>
        <label for="name">Add a category</label>
        <input id="name" placeholder="Ex: Work, School..." required type="text" th:field="*{name}"
               class="form-control"/>
        </div>

    <button type="submit" class="btn-floating btn-large waves-effect waves-light teal lighten-2"><i class="material-icons">add</i></button>

</form>

</div>

<div th:replace= "fragments :: script" ></div>

</body>
</html>